{% extends  "partials/base.html"%}
{% load static %}

{%block title%}
Form File Upload | Admiria - Admin & Dashboard Template
{%endblock%}

{%block css%}
<!-- Plugins css -->
<link href="{% static 'libs/dropzone/min/dropzone.min.css'%}" rel="stylesheet" type="text/css">

<!-- Bootstrap Css -->
<link href="{% static 'css/bootstrap.min.css'%}" id="bootstrap-style" rel="stylesheet" type="text/css">
<!-- Icons Css -->
<link href="{% static 'css/icons.min.css'%}" rel="stylesheet" type="text/css">
<!-- App Css-->
<link href="{% static 'css/app.min.css'%}" id="app-style" rel="stylesheet" type="text/css">
{%endblock%}
{% block content %}

            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">

                            <h4 class="card-title">Dropzone</h4>
                            <p class="card-title-desc">DropzoneJS is an open source library
                                that provides drag’n’drop file uploads with image previews.
                            </p>

                            <div class="mb-5">

                                <form action="#" class="dropzone" method="post" enctype="multipart/form-data">
                                    <div class="fallback">
                                        <input name="file" type="file" multiple="multiple">
                                    </div>

                                    <div class="dz-message needsclick">
                                        <div class="mb-3">
                                            <i class="mdi mdi-cloud-upload display-4 text-muted"></i>
                                        </div>

                                        <h4>Drop files here or click to upload.</h4>
                                    </div>
                                </form>
                            </div>

                            <div class="text-center mt-3">
                                <button type="button" class="btn btn-primary waves-effect waves-light">Send
                                    Files</button>
                            </div>

                        </div>
                    </div>
                </div> <!-- end col -->
            </div> <!-- end row -->



        </div> <!-- container-fluid -->

{%endblock%}

{% block rsidebar%}
{% include "partials/r_sidebar.html"%}
{%endblock%}

{% block footer %}
{% include "partials/footer.html" %}
{%endblock%}

{%block javascript%}

<!-- JAVASCRIPT -->
<script src="{% static 'libs/jquery/jquery.min.js'%}"></script>
<script src="{% static 'libs/bootstrap/js/bootstrap.bundle.min.js'%}"></script>
<script src="{% static 'libs/metismenu/metisMenu.min.js'%}"></script>
<script src="{% static 'libs/simplebar/simplebar.min.js'%}"></script>
<script src="{% static 'libs/node-waves/waves.min.js'%}"></script>

<!-- Plugins js -->
<script src="{% static 'libs/dropzone/min/dropzone.min.js'%}"></script>

<script src="{% static 'js/app.js'%}"></script>

{%endblock%}