{% extends  "partials/base.html"%}
{% load static %}

{%block title%}
Gallery | Admiria - Admin & Dashboard Template
{%endblock%}

{%block css%}
    
        <!-- Magnific -->
        <link href="{% static 'libs/magnific-popup/magnific-popup.css'%}" rel="stylesheet" type="text/css">
    
        <!-- Bootstrap Css -->
        <link href="{% static 'css/bootstrap.min.css'%}" id="bootstrap-style" rel="stylesheet" type="text/css">
        <!-- Icons Css -->
        <link href="{% static 'css/icons.min.css'%}" rel="stylesheet" type="text/css">
        <!-- App Css-->
        <link href="{% static 'css/app.min.css'%}" id="app-style" rel="stylesheet" type="text/css">
{%endblock%}

{% block content %}
                        <div class="row">
                            <div class="col-lg-3 col-md-6">
                                <a href="{% static 'images/gallery/work-1.jpg'%}" class="gallery-popup" title="Open Imagination">
                                    <div class="project-item">
                                        <div class="overlay-container">
                                            <img src="{% static 'images/gallery/work-1.jpg'%}" alt="img" class="gallery-thumb-img">
                                            <div class="project-item-overlay">
                                                <h4>Open Imagination</h4>
                                                <p>
                                                    <img src="{% static 'images/users/avatar-1.jpg'%}" alt="user" class="avatar-xs rounded-circle">
                                                    <span class="ms-2">Curtis Marion</span>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>

                            <div class="col-lg-3 col-md-6">
                                <a href="{% static 'images/gallery/work-2.jpg'%}" class="gallery-popup" title="Locked Steel Gate">
                                    <div class="project-item">
                                        <div class="overlay-container">
                                            <img src="{% static 'images/gallery/work-2.jpg'%}" alt="img" class="gallery-thumb-img">
                                            <div class="project-item-overlay">
                                                <h4>Locked Steel Gate</h4>
                                                <p>
                                                    <img src="{% static 'images/users/avatar-2.jpg'%}" alt="user" class="avatar-xs rounded-circle">
                                                    <span class="ms-2">Curtis Marion</span>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>

                            <div class="col-lg-3 col-md-6">
                                <a href="{% static 'images/gallery/work-3.jpg'%}" class="gallery-popup" title="Mac Sunglasses">
                                    <div class="project-item">
                                        <div class="overlay-container">
                                            <img src="{% static 'images/gallery/work-3.jpg'%}" alt="img" class="gallery-thumb-img">
                                            <div class="project-item-overlay">
                                                <h4>Mac Sunglasses</h4>
                                                <p>
                                                    <img src="{% static 'images/users/avatar-3.jpg'%}" alt="user" class="avatar-xs rounded-circle">
                                                    <span class="ms-2">Curtis Marion</span>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>

                            <div class="col-lg-3 col-md-6">
                                <a href="{% static 'images/gallery/work-4.jpg'%}" class="gallery-popup" title="Morning Dew">
                                    <div class="project-item">
                                        <div class="overlay-container">
                                            <img src="{% static 'images/gallery/work-4.jpg'%}" alt="img" class="gallery-thumb-img">
                                            <div class="project-item-overlay">
                                                <h4>Morning Dew</h4>
                                                <p>
                                                    <img src="{% static 'images/users/avatar-4.jpg'%}" alt="user" class="avatar-xs rounded-circle">
                                                    <span class="ms-2">Curtis Marion</span>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>

                            <div class="col-lg-3 col-md-6">
                                <a href="{% static 'images/gallery/work-5.jpg'%}" class="gallery-popup" title="Console Activity">
                                    <div class="project-item">
                                        <div class="overlay-container">
                                            <img src="{% static 'images/gallery/work-5.jpg'%}" alt="img" class="gallery-thumb-img">
                                            <div class="project-item-overlay">
                                                <h4>Console Activity</h4>
                                                <p>
                                                    <img src="{% static 'images/users/avatar-5.jpg'%}" alt="user" class="avatar-xs rounded-circle">
                                                    <span class="ms-2">Curtis Marion</span>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>

                            <div class="col-lg-3 col-md-6">
                                <a href="{% static 'images/gallery/work-6.jpg'%}" class="gallery-popup" title="Shake It!">
                                    <div class="project-item">
                                        <div class="overlay-container">
                                            <img src="{% static 'images/gallery/work-6.jpg'%}" alt="img" class="gallery-thumb-img">
                                            <div class="project-item-overlay">
                                                <h4>Shake It!</h4>
                                                <p>
                                                    <img src="{% static 'images/users/avatar-6.jpg'%}" alt="user" class="avatar-xs rounded-circle">
                                                    <span class="ms-2">Curtis Marion</span>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>

                            <div class="col-lg-3 col-md-6">
                                <a href="{% static 'images/gallery/work-7.jpg'%}" class="gallery-popup" title="Backpack Content">
                                    <div class="project-item">
                                        <div class="overlay-container">
                                            <img src="{% static 'images/gallery/work-7.jpg'%}" alt="img" class="gallery-thumb-img">
                                            <div class="project-item-overlay">
                                                <h4>Backpack Content</h4>
                                                <p>
                                                    <img src="{% static 'images/users/avatar-1.jpg'%}" alt="user" class="avatar-xs rounded-circle">
                                                    <span class="ms-2">Curtis Marion</span>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>

                            <div class="col-lg-3 col-md-6">
                                <a href="{% static 'images/gallery/work-8.jpg'%}" class="gallery-popup" title="Sunset Bulb Glow">
                                    <div class="project-item">
                                        <div class="overlay-container">
                                            <img src="{% static 'images/gallery/work-8.jpg'%}" alt="img" class="gallery-thumb-img">
                                            <div class="project-item-overlay">
                                                <h4>Sunset Bulb Glow</h4>
                                                <p>
                                                    <img src="{% static 'images/users/avatar-2.jpg'%}" alt="user" class="avatar-xs rounded-circle">
                                                    <span class="ms-2">Curtis Marion</span>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>

                            <div class="col-lg-3 col-md-6">
                                <a href="{% static 'images/gallery/work-9.jpg'%}" class="gallery-popup" title="Open Imagination">
                                    <div class="project-item">
                                        <div class="overlay-container">
                                            <img src="{% static 'images/gallery/work-9.jpg'%}" alt="img" class="gallery-thumb-img">
                                            <div class="project-item-overlay">
                                                <h4>Open Imagination</h4>
                                                <p>
                                                    <img src="{% static 'images/users/avatar-3.jpg'%}" alt="user" class="avatar-xs rounded-circle">
                                                    <span class="ms-2">Curtis Marion</span>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>

                            <div class="col-lg-3 col-md-6">
                                <a href="{% static 'images/gallery/work-10.jpg'%}" class="gallery-popup" title="Console Activity">
                                    <div class="project-item">
                                        <div class="overlay-container">
                                            <img src="{% static 'images/gallery/work-10.jpg'%}" alt="img" class="gallery-thumb-img">
                                            <div class="project-item-overlay">
                                                <h4>Console Activity</h4>
                                                <p>
                                                    <img src="{% static 'images/users/avatar-4.jpg'%}" alt="user" class="avatar-xs rounded-circle">
                                                    <span class="ms-2">Curtis Marion</span>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>

                            <div class="col-lg-3 col-md-6">
                                <a href="{% static 'images/gallery/work-11.jpg'%}" class="gallery-popup" title="Open Imagination">
                                    <div class="project-item">
                                        <div class="overlay-container">
                                            <img src="{% static 'images/gallery/work-11.jpg'%}" alt="img" class="gallery-thumb-img">
                                            <div class="project-item-overlay">
                                                <h4>Open Imagination</h4>
                                                <p>
                                                    <img src="{% static 'images/users/avatar-5.jpg'%}" alt="user" class="avatar-xs rounded-circle">
                                                    <span class="ms-2">Curtis Marion</span>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>

                            <div class="col-lg-3 col-md-6">
                                <a href="{% static 'images/gallery/work-12.jpg'%}" class="gallery-popup" title="Shake It!">
                                    <div class="project-item">
                                        <div class="overlay-container">
                                            <img src="{% static 'images/gallery/work-12.jpg'%}" alt="img" class="gallery-thumb-img">
                                            <div class="project-item-overlay">
                                                <h4>Shake It!</h4>
                                                <p>
                                                    <img src="{% static 'images/users/avatar-6.jpg'%}" alt="user" class="avatar-xs rounded-circle">
                                                    <span class="ms-2">Curtis Marion</span>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>

                            </div>

                        

                    </div> <!-- container-fluid -->
                </div>
                <!-- End Page-content -->
            </div>
            <!-- end main content-->
        </div>
        <!-- END layout-wrapper -->
{%endblock%}
{% block rsidebar%}
{% include "partials/r_sidebar.html"%}
{%endblock%}
{% block footer %}
{% include "partials/footer.html" %}
{%endblock%}
{%block javascript%}
        <!-- JAVASCRIPT -->
        <script src="{% static 'libs/jquery/jquery.min.js'%}"></script>
        <script src="{% static 'libs/bootstrap/js/bootstrap.bundle.min.js'%}"></script>
        <script src="{% static 'libs/metismenu/metisMenu.min.js'%}"></script>
        <script src="{% static 'libs/simplebar/simplebar.min.js'%}"></script>
        <script src="{% static 'libs/node-waves/waves.min.js'%}"></script>

        <!-- Magnific Popup-->
        <script src="{% static 'libs/magnific-popup/jquery.magnific-popup.min.js'%}"></script>

        <!-- Tour init js-->
        <script src="{% static 'js/pages/gallery.init.js'%}"></script>

        <script src="{% static 'js/app.js'%}"></script>
{%endblock%}