{% extends  "partials/base.html"%}
{% load static %}

{%block css%}
{% include "partials/css.html" %}
{%endblock%}

{%block content%}

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-12">
                        <div class="text-center mt-2">
                            <h5>Have any questions?</h5>
                            <p class="text-muted">It is a long established fact that a reader will be of a
                                page when looking at its layout.</p>
                        </div>
                    </div> <!-- end col -->
                </div> <!-- end col -->

                <div class="row mt-5">
                    <div class="col-md-4">
                        <div>
                            <h6 class="font-size-14">Email Address</h6>
                            <p class="text-muted">supportemail@admiria .com</p>
                        </div>
                        <div class="pt-3">
                            <h6 class="font-size-14">Telephone number</h6>
                            <p class="text-muted">+123 45 56 879</p>
                        </div>
                        <div class="pt-3">
                            <h6 class="font-size-14">Address</h6>
                            <p class="text-muted">09 Design Street, Downtown Victoria, Australia</p>
                        </div>
                    </div> <!-- end col -->
                    <div class="col-md-8">
                        <form class="form-custom" accept="{% url 'contect-us' %}" method="POST"
                            enctype="multipart/form-data">
                            {% csrf_token %}
                            {% for message in messages %}
                            <div class="alert alert-danger mb-3" role="alert">
                                <strong>{{ message }}</strong>
                            </div>
                            {% endfor %}

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="mb-3">
                                        <label class="sr-only form-label" for="username">Name</label>
                                        <input type="text" class="form-control" id="username" name="name"
                                            placeholder="Your Name" required="">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="mb-3">
                                        <label class="sr-only form-label" for="useremail">Email
                                            address</label>
                                        <input type="email" class="form-control" id="useremail" name="email"
                                            placeholder="Your Email" required="">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="mb-3">
                                        <label class="sr-only form-label" for="usersubject">Subject</label>
                                        <input type="text" class="form-control" id="usersubject" name="subject"
                                            placeholder="Subject" required="">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="mb-3">
                                        <textarea type="text" class="form-control" rows="5" name="message"
                                            placeholder="Your Message...."></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 text-center">
                                    <button type="submit" class="btn btn-primary waves-effect waves-light"
                                        value="Submit">Send Message</button>
                                </div>
                            </div>
                        </form>
                    </div> <!-- end col -->
                </div> <!-- end row -->
            </div>
        </div>
    </div> <!-- end col -->
</div> <!-- end row -->
</div> <!-- container-fluid -->

{%endblock%}

{% block rsidebar%}
{% include "partials/r_sidebar.html"%}
{%endblock%}

{% block footer %}
{% include "partials/footer.html" %}
{%endblock%}
{%block javascript%}
{% include "partials/javascript.html" %}
{%endblock%}